/* Base styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url(./Images/003+background+pattern+designs.jpg);
    color: white;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00264d; /* Red Bull Red */
    padding: 10px 30px;
}

a:link{
    text-decoration: none;
    color: #ffc600;
    font-weight: bold;
}

a.red{
    color: #e5152e;
    font-weight: bold;
}


.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    transition: background 0.3s;
}

.nav-links li a:hover {
    background-color: #ffc600; /* Red Bull Yellow */
    color: #e5152e;
    border-radius: 5px;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 80px 20px;
    background-image: url('https://images.redbullcontentpool.com/rbcom/01000000/1000072653/0000/rbcom-1000072653.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #e5152e;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: 900;
}

.hero p {
    font-size: 1.5rem;
    font-weight: 900;
}

/* Features Section */
.features {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background-color: #00264d;
}

.feature {
    max-width: 300px;
    text-align: center;
}

.feature h2 {
    color: #ffc600;
    margin-bottom: 10px;
}
.feature h2:hover{
    text-decoration: underline #ffc600;
}

.feature a.link{
    color: #ffc600;
}
.feature a.link:hover{
    text-decoration: underline #ffc600;
}


h1.error{
    color: #000;
    font-size: 5em;
    margin: auto;
}
h2.error, .error:link{
    color: #000;
    font-size: 3em;
    margin: auto;
}

.glass{
  width: 75%;
  height: 60%;
  margin: auto;
  text-align: center;
  align-items: center;
  border-top: 2px solid #FFFFFF75;
  border-left: 2px solid ;
  box-shadow: 5px 5px 12px 00000035;
  background: #FFFFFF25;
  border-radius: 15px;
  overflow: hidden;
  backdrop-filter: blur(4px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.glass1{
  width: 50%;
  height: 30%;
  border-top: 2px solid #FFFFFF75;
  border-left: 2px solid #FFFFFF75;
  box-shadow: 5px 5px 12px 00000035;
  background: #FFFFFF25;
  border-radius: 15px;
  overflow: hidden;
  backdrop-filter: blur(4px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Footer */
footer {
    background-color: #000;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 1.5em;
}

footer a {
    color: #ffc600;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
.footer-socials{
    width: 60%;
    float: left;
}
.footer-rights{
    width: 40%;
    float: right;
    padding: 0em;
}

a.social, a.social:hover, a.social:link{
    text-decoration: none;
    color: white;
}




/* drinks display */
div.head{
  display: flex;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  background: linear-gradient(to right, #3f4c6b, #606c88);
  width: 55%;
  height: 3em;
  color: #ffffff;
  font-weight: bold; 
}
div.head2{
  display: flex;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  background: linear-gradient(to right, #3f4c6b, #606c88);
  color: #ffffff;
  width: 55%;
  height: 3em;
  font-weight: bold; 
}
div.part{
  display: inline-block;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2em;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  background: linear-gradient(to right, #3f4c6b, #606c88);
  width: 15%;
  height: 15em;
  color: #ffffff;
  margin-left: 8% ;
}
div.name{
  display: inline-block;
  margin: auto;
  margin-top: 0;
  margin-bottom: 2em;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  background: linear-gradient(to right, #3f4c6b, #606c88);
  width: 15%;
  height: 3em;
  color: #000;
  margin-left: 8%;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
img.png{
  width: 42%;
  margin: auto;
  display: block;
}
section.newsletter{
  width: 25em;
  padding-bottom: 5em;
  align: center;
  margin-right: auto;
  margin-left: auto;
}
form.form{
  align: center;
}

div.part3{
  display: inline-block;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 2em;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  background: linear-gradient(to right, #3f4c6b, #606c88);
  width: 75%;
  height: 35em;
  color: #ffffff;
  margin-left: 12.5%;
  margin-right: 12.5%;
  color: #ffffff;
  font-weight: bold;
  border-radius: 2em;
  margin-top: 5em;
  margin-bottom: 3em;
  padding-top: 1em;
  padding-left: 1em;
  border-radius: 2em;
}
p.center{
  margin-left: 40.5%;
  font-weight: 900;
  margin-top: 0.5em;
}
p.center2{
  margin-left: 22.5%;
  font-weight: 900;
  margin-top: 0.5em;
}
p.middle-white{
  font-weight: bold;
  margin-top: 2.5em;
  margin-right: 1.5em;
  margin-left: 1.5em;
  color: #ffffff;
}

div.part2{
  display: inline-block;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2em;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  background: linear-gradient(to right, #3f4c6b, #606c88);
  width: 35%;
  height: 30em;
  color: #ffffff;
  margin-left: 10% ;
}
img.moto{
  width: 250px;
}




/* Custom button 0 */ 
.btn {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    cursor: pointer;
    border-radius: 6em;
    transition: all 0.2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: white;
    font-weight: bold;
    background-color: #FD1D1D;
  }
  
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  
  .btn::after {
    background-color: #FD1D1D;
  }
  
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  
/* Custom button 1 */ 
.btn1 {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    cursor: pointer;
    border-radius: 6em;
    transition: all 0.2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: white;
    font-weight: bold;
    background-color: #1DA1F2;
  }
  
  .btn1:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .btn1:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .btn1::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  
  .btn1::after {
    background-color: #1DA1F2;
  }
  
  .btn1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }  
  

  /* Custom button 1 */ 
.btn2 {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    cursor: pointer;
    border-radius: 6em;
    transition: all 0.2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: white;
    font-weight: bold;
    background-color: #FF0000;
  }
  
  .btn2:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .btn2:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .btn2::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  
  .btn2::after {
    background-color: #FF0000;
  }
  
  .btn2:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }




  /* From Uiverse.io by vinodjangid07 */ 
.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
  }
  
  .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(181, 160, 255);
    align-items: center;
  }
  
  .button:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
  }
  
  .button::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
  }
  
  .button:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
  }
  

  /** Newsletter **/
.form {
  display: flex;
  flex-direction: column;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  background: linear-gradient(to right, #3f4c6b, #606c88);
  padding: 20px;
  border-radius: 10px;
  max-width: 350px;
}

.title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #fff;
}

.description {
  line-height: 1.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  color: rgb(209 213 219);
}

.form div {
  display: flex;
  max-width: 28rem;
  margin-top: 1rem;
  column-gap: 0.5rem;
}

.form div input {
  outline: none;
  line-height: 1.5rem;
  font-size: 0.875rem;
  color: rgb(255 255 255 );
  padding: 0.5rem 0.875rem;
  background-color: rgb(255 255 255 / 0.05);
  border: 1px solid rgba(253, 253, 253, 0.363);
  border-radius: 0.375rem;
  flex: 1 1 auto;
}

.form div input::placeholder {
  color: rgb(216, 212, 212);
}

.form div input:focus {
  border: 1px solid rgb(99 102 241);
}

.form div button {
  color: #fff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.625rem 0.875rem;
  background-color: rgb(99 102 241);
  border-radius: 0.375rem;
  border: none;
  outline: none;
}
.form div button:hover {
  color: #ffc600;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.625rem 0.875rem;
  background-color: #e5152e;
  border-radius: 0.375rem;
  border: none;
  outline: none;
}

.sports-header {
  text-align: center;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  background: linear-gradient(to right, #3f4c6b, #606c88);
  color: #ffffff;
  vertical-align: middle;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 1em;
  width: 60%;
  margin: auto;
  vertical-align: middle;
}

.sports-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 1rem;
  vertical-align: middle;
}

.sport-card {
  width: 18%;
  min-width: 180px;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  background: linear-gradient(to right, #3f4c6b, #606c88);
  color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  vertical-align: middle;
}

.sport-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.sport-card p {
  margin: 0;
  padding: 1rem;
  font-weight: bold;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  background: linear-gradient(to right, #3f4c6b, #606c88);
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}

.sport-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}



div.block{
  margin: auto;
  width: 60em;
  height: 350px;
  background-color: #00264d;
  color: #ffc600;
  border-radius: 2em;
  margin-top: 5em;
  margin-bottom: 3em;
  padding-top: 1em;
  padding-left: 1em;
  border-radius: 2em;
}
h1.center{
  margin-left: 24em;
  font-weight: 900;
  margin-top: 0.5em;
}
p.introduction{
  font-weight: bold;
  margin-left: 21.5em;
  margin-right: 1.5em;
  margin-top: 1.5em;
}
p.middle{
  font-weight: bold;
  margin-top: 2.5em;
  margin-right: 1.5em;
}
p.middle a:hover, p.middle a:link, p.middle a:visited, p.middle a:active{
  color: #e5152e;
  text-decoration: underline;
}
img.pic{
  float: left;
  width: 20em;
  border-radius: 5%;
}
h1.center2{
  margin-left: 19.5em;
  font-weight: 900;
  margin-top: 0.5em;
}
p.middle2{
  font-weight: bold;
  margin-top: 0.5em;
  margin-right: 1.5em;
}
p.middle2 a:hover, p.middle2 a:link, p.middle2 a:visited, p.middle2 a:active{
  color: #e5152e;
  text-decoration: underline;
}
div.block2{
  margin: auto;
  width: 60em;
  height: 310px;
  background-color: #00264d;
  color: #ffc600;
  border-radius: 2em;
  margin-top: 5em;
  margin-bottom: 3em;
  padding-top: 1em;
  padding-left: 1em;
  border-radius: 2em;
}
h1.center3{
  margin-left: 24.5em;
  font-weight: 900;
  margin-top: 0.5em;
}
p.middle3{
  font-weight: bold;
  margin-top: 2em;
  margin-right: 1.5em;
}
p.middle3 a:hover, p.middle3 a:link, p.middle3 a:visited, p.middle3 a:active{
  color: #e5152e;
  text-decoration: underline;
}
div.block3{
  margin: auto;
  width: 60em;
  height: 290px;
  background-color: #00264d;
  color: #ffc600;
  border-radius: 2em;
  margin-top: 5em;
  margin-bottom: 3em;
  padding-top: 1em;
  padding-left: 1em;
  border-radius: 2em;
}
h1.center4{
  margin-left: 24.5em;
  font-weight: 900;
  margin-top: 0.5em;
}
p.middle4{
  font-weight: bold;
  margin-top: 2em;
  margin-right: 1.5em;
}
p.middle4 a:hover, p.middle4 a:link, p.middle4 a:visited, p.middle4 a:active{
  color: #e5152e;
  text-decoration: underline;
}
div.block4{
  margin: auto;
  width: 60em;
  height: 305px;
  background-color: #00264d;
  color: #ffc600;
  border-radius: 2em;
  margin-top: 5em;
  margin-bottom: 3em;
  padding-top: 1em;
  padding-left: 1em;
  border-radius: 2em;
}
h1.center5{
  margin-left: 24.5em;
  font-weight: 900;
  margin-top: 0.5em;
}
p.middle5{
  font-weight: bold;
  margin-top: 5em;
  margin-right: 1.5em;
}
p.middle5 a:hover, 
p.middle5 a:link, 
p.middle5 a:visited, 
p.middle5 a:active{
  color: #e5152e;
  text-decoration: underline;
}
div.block5{
  margin: auto;
  width: 60em;
  height: 310px;
  background-color: #00264d;
  color: #ffc600;
  border-radius: 2em;
  margin-top: 5em;
  margin-bottom: 3em;
  padding-top: 1em;
  padding-left: 1em;
  border-radius: 2em;
}
h1.center6{
  margin-left: 24.5em;
  font-weight: 900;
  margin-top: 0.5em;
}
p.middle6{
  font-weight: bold;
  margin-top: 3.5em;
  margin-right: 1.5em;
}
p.middle6 a:hover, 
p.middle6 a:link, 
p.middle6 a:visited, 
p.middle6 a:active{
  color: #e5152e;
  text-decoration: underline;
}
div.block6{
  margin: auto;
  width: 60em;
  height: 305px;
  background-color: #00264d;
  color: #ffc600;
  border-radius: 2em;
  margin-top: 5em;
  margin-bottom: 3em;
  padding-top: 1em;
  padding-left: 1em;
  border-radius: 2em;
}
h1.center7{
  margin-left: 22.5em;
  font-weight: 900;
  margin-top: 0.5em;
}
p.middle7{
  font-weight: bold;
  margin-top: 1.5em;
  margin-right: 1.5em;
}
p.middle7 a:hover, 
p.middle7 a:link, 
p.middle7 a:visited, 
p.middle7 a:active{
  color: #e5152e;
  text-decoration: underline;
}
div.block7{
  margin: auto;
  width: 60em;
  height: 295px;
  background-color: #00264d;
  color: #ffc600;
  border-radius: 2em;
  margin-top: 5em;
  margin-bottom: 3em;
  padding-top: 1em;
  padding-left: 1em;
  border-radius: 2em;
}
h1.center8{
  margin-left: 22.5em;
  font-weight: 900;
  margin-top: 0.5em;
}
p.middle8{
  font-weight: bold;
  margin-top: 3.3em;
  margin-right: 1.5em;
}
p.middle8 a:hover, 
p.middle8 a:link, 
p.middle8 a:visited, 
p.middle8 a:active{
  color: #e5152e;
  text-decoration: underline;
}
div.block8{
  margin: auto;
  width: 60em;
  height: 305px;
  background-color: #00264d;
  color: #ffc600;
  border-radius: 2em;
  margin-top: 5em;
  margin-bottom: 3em;
  padding-top: 1em;
  padding-left: 1em;
  border-radius: 2em;
}
h1.center9{
  margin-left: 24.5em;
  font-weight: 900;
  margin-top: 0.5em;
}
p.middle9{
  font-weight: bold;
  margin-top: 1.5em;
  margin-right: 1.5em;
}
p.middle9 a:hover, 
p.middle9 a:link, 
p.middle9 a:visited, 
p.middle9 a:active{
  color: #e5152e;
  text-decoration: underline;
}
div.block9{
  margin: auto;
  width: 60em;
  height: 290px;
  background-color: #00264d;
  color: #ffc600;
  border-radius: 2em;
  margin-top: 5em;
  margin-bottom: 3em;
  padding-top: 1em;
  padding-left: 1em;
  border-radius: 2em;
}
h1.center10{
  margin-left: 23em;
  font-weight: 900;
  margin-top: 0.5em;
}
p.middle10{
  font-weight: bold;
  margin-top: 0.7em;
  margin-right: 1.5em;
}
p.middle10 a:hover, 
p.middle10 a:link, 
p.middle10 a:visited, 
p.middle10 a:active{
  color: #e5152e;
  text-decoration: underline;
}
div.block10{
  margin: auto;
  width: 60em;
  height: 300px;
  background-color: #00264d;
  color: #ffc600;
  border-radius: 2em;
  margin-top: 5em;
  margin-bottom: 3em;
  padding-top: 1em;
  padding-left: 1em;
  border-radius: 2em;
}
h1.center11{
  margin-left: 21.5em;
  font-weight: 900;
  margin-top: 0.5em;
}
p.middle11{
  font-weight: bold;
  margin-top: 3.4em;
  margin-right: 1.5em;
}
p.middle11 a:hover, 
p.middle11 a:link, 
p.middle11 a:visited, 
p.middle11 a:active{
  color: #e5152e;
  text-decoration: underline;
}
div.block11{
  margin: auto;
  width: 60em;
  height: 300px;
  background-color: #00264d;
  color: #ffc600;
  border-radius: 2em;
  margin-top: 5em;
  margin-bottom: 3em;
  padding-top: 1em;
  padding-left: 1em;
  border-radius: 2em;
}
h1.center12{
  margin-left: 25em;
  font-weight: 900;
  margin-top: 0.5em;
}
p.middle12{
  font-weight: bold;
  margin-top: 3.7em;
  margin-right: 1.5em;
}
p.middle12 a:hover, 
p.middle12 a:link, 
p.middle12 a:visited, 
p.middle12 a:active{
  color: #e5152e;
  text-decoration: underline;
}
div.block12{
  margin: auto;
  width: 60em;
  height: 285px;
  background-color: #00264d;
  color: #ffc600;
  border-radius: 2em;
  margin-top: 5em;
  margin-bottom: 3em;
  padding-top: 1em;
  padding-left: 1em;
  border-radius: 2em;
}
h1.center13{
  margin-left: 25em;
  font-weight: 900;
  margin-top: 0.5em;
}
p.middle13{
  font-weight: bold;
  margin-top: 1.3em;
  margin-right: 1.5em;
}
p.middle13 a:hover, 
p.middle13 a:link, 
p.middle13 a:visited, 
p.middle13 a:active{
  color: #e5152e;
  text-decoration: underline;
}
div.block13{
  margin: auto;
  width: 60em;
  height: 230px;
  background-color: #00264d;
  color: #ffc600;
  border-radius: 2em;
  margin-top: 5em;
  margin-bottom: 3em;
  padding-top: 1em;
  padding-left: 1em;
  border-radius: 2em;
}
h1.center14{
  margin-left: 21.8em;
  font-weight: 900;
  margin-top: 0.5em;
}
p.middle14{
  font-weight: bold;
  margin-top: 4.7em;
  margin-right: 1.5em;
}
p.middle14 a:hover, 
p.middle14 a:link, 
p.middle14 a:visited, 
p.middle14 a:active{
  color: #e5152e;
  text-decoration: underline;
}
div.block14{
  margin: auto;
  width: 60em;
  height: 285px;
  background-color: #00264d;
  color: #ffc600;
  border-radius: 2em;
  margin-top: 5em;
  margin-bottom: 3em;
  padding-top: 1em;
  padding-left: 1em;
  border-radius: 2em;
}
h1.center15{
  margin-left: 22em;
  font-weight: 900;
  margin-top: 0.5em;
}
p.middle15{
  font-weight: bold;
  margin-top: 2.7em;
  margin-right: 1.5em;
}
p.middle15 a:hover, 
p.middle15 a:link, 
p.middle15 a:visited, 
p.middle15 a:active{
  color: #e5152e;
  text-decoration: underline;
}
div.block15{
  margin: auto;
  width: 60em;
  height: 270px;
  background-color: #00264d;
  color: #ffc600;
  border-radius: 2em;
  margin-top: 5em;
  margin-bottom: 3em;
  padding-top: 1em;
  padding-left: 1em;
  border-radius: 2em;
}
h1.center16{
  margin-left: 22em;
  font-weight: 900;
  margin-top: 0.5em;
}
p.middle16{
  font-weight: bold;
  margin-top: 3.7em;
  margin-right: 1.5em;
}
p.middle16 a:hover, 
p.middle16 a:link, 
p.middle16 a:visited, 
p.middle16 a:active{
  color: #e5152e;
  text-decoration: underline;
}
div.block16{
  margin: auto;
  width: 60em;
  height: 285px;
  background-color: #00264d;
  color: #ffc600;
  border-radius: 2em;
  margin-top: 5em;
  margin-bottom: 3em;
  padding-top: 1em;
  padding-left: 1em;
  border-radius: 2em;
}
h1.center17{
  margin-left: 22em;
  font-weight: 900;
  margin-top: 0.5em;
}
p.middle17{
  font-weight: bold;
  margin-top: 1.4em;
  margin-right: 1.5em;
}
p.middle17 a:hover, 
p.middle17 a:link, 
p.middle17 a:visited, 
p.middle17 a:active{
  color: #e5152e;
  text-decoration: underline;
}
div.block17{
  margin: auto;
  width: 60em;
  height: 235px;
  background-color: #00264d;
  color: #ffc600;
  border-radius: 2em;
  margin-top: 5em;
  margin-bottom: 3em;
  padding-top: 1em;
  padding-left: 1em;
  border-radius: 2em;
}
h1.center18{
  margin-left: 22em;
  font-weight: 900;
  margin-top: 0.5em;
}
p.middle18{
  font-weight: bold;
  margin-top: 3.7em;
  margin-right: 1.5em;
}
p.middle18 a:hover, 
p.middle18 a:link, 
p.middle18 a:visited, 
p.middle18 a:active{
  color: #e5152e;
  text-decoration: underline;
}
div.block18{
  margin: auto;
  width: 60em;
  height: 270px;
  background-color: #00264d;
  color: #ffc600;
  border-radius: 2em;
  margin-top: 5em;
  margin-bottom: 3em;
  padding-top: 1em;
  padding-left: 1em;
  border-radius: 2em;
}
h1.center19{
  margin-left: 22em;
  font-weight: 900;
  margin-top: 0.5em;
}
p.middle19{
  font-weight: bold;
  margin-top: 1.4em;
  margin-right: 1.5em;
}
p.middle19 a:hover, 
p.middle19 a:link, 
p.middle19 a:visited, 
p.middle19 a:active{
  color: #e5152e;
  text-decoration: underline;
}
div.block19{
  margin: auto;
  width: 60em;
  height: 235px;
  background-color: #00264d;
  color: #ffc600;
  border-radius: 2em;
  margin-top: 5em;
  margin-bottom: 3em;
  padding-top: 1em;
  padding-left: 1em;
  border-radius: 2em;
}
